#t-04b578c7-be7d-47f3-b675-17c0c0181a75 #t-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=38) ;
  filter: alpha(opacity=38) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-04b578c7-be7d-47f3-b675-17c0c0181a75 #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-04b578c7-be7d-47f3-b675-17c0c0181a75 #t-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-04b578c7-be7d-47f3-b675-17c0c0181a75 #t-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-04b578c7-be7d-47f3-b675-17c0c0181a75 #t-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-04b578c7-be7d-47f3-b675-17c0c0181a75 #t-Image_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45) ;
  filter: alpha(opacity=45) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-04b578c7-be7d-47f3-b675-17c0c0181a75 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}