#s-2950e2e3-2758-424d-a8ba-c096d265c7b7 #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2950e2e3-2758-424d-a8ba-c096d265c7b7 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2950e2e3-2758-424d-a8ba-c096d265c7b7 #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2950e2e3-2758-424d-a8ba-c096d265c7b7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}