#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Image_2 {
  position: absolute;
  top: 10px;
  left: 279px;
  width: 96px;
  height: 45px;
  opacity: 0.38;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Image_1 {
  position: absolute;
  top: 31px;
  left: 61px;
  width: 76px;
  height: 75px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_1 {
  position: absolute;
  top: 40px;
  left: 154px;
  width: 139px;
  height: 60px;
  background-color: transparent;
  background-image: none;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 30.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 30.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 30.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_2 {
  position: absolute;
  top: 117px;
  left: 74px;
  width: 227px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Line_1 {
  position: absolute;
  top: 149px;
  left: 5px;
  width: 368px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Table_1 {
  position: absolute;
  top: 150px;
  left: 0px;
  width: 375px;
  height: 471px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  box-shadow: none;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_1 {
  padding-left: 12px;
  width: 168px;
  height: 32px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_1 span#rtr-s-Text_cell_1_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_4 {
  padding-left: 12px;
  width: 154px;
  height: 32px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_4 span#rtr-s-Text_cell_4_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_7 {
  padding-left: 12px;
  width: 15px;
  height: 32px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_2 {
  padding-left: 12px;
  width: 168px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_2 span#rtr-s-Text_cell_2_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_5 {
  padding-left: 12px;
  width: 154px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_5 span#rtr-s-Text_cell_5_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_8 {
  padding-left: 12px;
  width: 15px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_3 {
  padding-left: 12px;
  width: 168px;
  height: 394px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_6 {
  padding-left: 12px;
  width: 154px;
  height: 394px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_9 {
  padding-left: 12px;
  width: 15px;
  height: 394px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Image_3 {
  position: absolute;
  top: 46px;
  left: 303px;
  width: 47px;
  height: 45px;
  opacity: 0.45;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-button-back {
  position: absolute;
  top: 0px;
  left: 5px;
  width: 81px;
  height: 30px;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Label_58 {
  position: absolute;
  top: 0px;
  left: 24px;
  width: 57px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Label_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Label_58 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Label_58 span#rtr-s-Label_58_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Label_59 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Label_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Label_59 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 #s-Label_59 span#rtr-s-Label_59_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-52bb3a4b-50a2-4028-9e85-1295bb32e9a8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}