#s-bb9772f7-7e3b-4070-ae2f-d56f72d941bd #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb9772f7-7e3b-4070-ae2f-d56f72d941bd #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb9772f7-7e3b-4070-ae2f-d56f72d941bd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb9772f7-7e3b-4070-ae2f-d56f72d941bd #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb9772f7-7e3b-4070-ae2f-d56f72d941bd #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb9772f7-7e3b-4070-ae2f-d56f72d941bd #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bb9772f7-7e3b-4070-ae2f-d56f72d941bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}