#s-f2faeeab-4a45-4caf-b81c-b40675f645ec #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=94);
  filter: alpha(opacity=94);
  -ms-transform: rotate(0.0deg);
}
#s-f2faeeab-4a45-4caf-b81c-b40675f645ec #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-f2faeeab-4a45-4caf-b81c-b40675f645ec #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f2faeeab-4a45-4caf-b81c-b40675f645ec #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f2faeeab-4a45-4caf-b81c-b40675f645ec #s-Label_58 {
  -ms-transform: rotate(0.0deg);
}
#s-f2faeeab-4a45-4caf-b81c-b40675f645ec #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f2faeeab-4a45-4caf-b81c-b40675f645ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}